[user]
	name = Shea Cox
	email = sheacox82@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[alias]
	lg = log --oneline --graph --decorate --all
	st = status -sb
	undo = reset --soft HEAD~1
[init]
	defaultBranch = main
[fetch]
	prune = true
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[submodule]
	recurse = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
