<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/{{cookiecutter.project_owner}}/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="tuckersaurus" />
      <add key="ClearTextPassword" value="%GITHUB_NUGET_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>
